			<div class="sidebar-content js-simplebar">
				<a class="sidebar-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
					<span class="align-middle" style="color:white">Admin Pages</span>
				</a>
				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Thống kê</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="#">
							<i class="align-middle" data-feather="key"></i> <span class="align-middle">Quản lý quyền truy cập</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="#">
							<i class="align-middle" data-feather="users"></i> <span class="align-middle">Quản lý tài khoản</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="#">
							<i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">Quản lý danh mục</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="#">
							<i class="align-middle" data-feather="box"></i> <span class="align-middle">Quản lý sản phẩm</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="#">
							<i class="align-middle" data-feather="truck"></i> <span class="align-middle">Quản lý đơn hàng</span>
						</a>
					</li>
				</ul>
			</div>

