@model OnlineShop.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chỉnh sửa tài khoản</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label class="control-label">Họ tên</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">ID</label>
                <input asp-for="IdCard" class="form-control" />
                <span asp-validation-for="IdCard" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">SĐT</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Trạng thái email</label>
                <select asp-for="IsEmailActive" class="form-control">
                    <option value = "0">Chưa kích hoạt</option>
                    <option value = "1">Đã kích hoạt</option>
                </select>
                <span asp-validation-for="IsEmailActive" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Vai trò</label>
                <select asp-for="RoleId" class="form-control">
                    <option value = "1">Admin</option>
                    <option value = "2">Customer</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Ảnh đại diện</label>
                <input asp-for="Avatar" class="form-control" type="file"/>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Ngày tạo</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Trạng thái</label>
                <select asp-for="IsDeleted" class="form-control">
                    <option value = "0">Hoạt động</option>
                    <option value = "1">Bị khóa</option>
                </select>
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Trở về danh sách</a>
</div>
